<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/gramv"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/gramv"
        android:supportsRtl="true"
        android:theme="@style/Theme.CliniclesHRMS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Daily_attendance"
            android:exported="false" />
        <activity
            android:name=".My_Salary_Slip"
            android:exported="false" />
        <activity
            android:name=".My_Attendance"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".permission_history"
            android:exported="false" />
        <activity
            android:name=".leave_history"
            android:exported="false" />
        <activity
            android:name=".Allowance_history"
            android:exported="false" />
        <activity
            android:name=".Allowance_approval"
            android:exported="false" />
        <activity
            android:name=".permission_approval"
            android:exported="false" />
        <activity
            android:name=".leave_approval"
            android:exported="false" />
        <activity
            android:name=".Allawance_Claim"
            android:exported="false" />
        <activity
            android:name=".Permission_Request"
            android:exported="false" />
        <activity
            android:name=".leave_Request"
            android:exported="false" />
        <activity
            android:name=".main_menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>